﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Doctors_Web_Forum</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="..\assets\svg\logos\logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\vendor.min.css">
    <link rel="stylesheet" href="assets\vendor\icon-set\style.css">
    <link rel="stylesheet" href="assets\css\theme.min.css?v=1.0">
    <link href="assets\summernote\summernote-bs4.min.css" rel="stylesheet" />
    <link href="assets\summernote\summernote.min.css" rel="stylesheet" />
    <link href="~/assets/css/listQuestion.css" rel="stylesheet" />
  
</head>
<body>
    <partial name="header" />
    <main id="content" role="main" class="main" style="padding-top: 3.75rem;">
        <div class="bg-dark">
            <div class="content container" style="height: 20rem;">
              
            </div>
        </div>
        <div class="content container" style="margin-top: -20rem;">
            <partial name="navbar" />

            <div class="sidebar-detached-content mt-3 mt-lg-0 fix-conten">
                <div class="card mb-3 mb-lg-5">
                    <div class="card-body card-body-centered " style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">

                        @RenderBody()
                    </div>
                </div>

            </div>


        </div>
    </main>



    <script src="assets\js\vendor.min.js"></script>
    <script src="assets\vendor\chart.js\dist\Chart.min.js"></script>
    <script src="assets\vendor\chart.js.extensions\chartjs-extensions.js"></script>
    <script src="assets\vendor\chartjs-plugin-datalabels\dist\chartjs-plugin-datalabels.min.js"></script>
    <script src="assets\js\theme.min.js"></script>
    <script src="assets\summernote\summernote.min.js"></script>
    <script src="assets\summernote\summernote-bs4.min.js"></script>
    <script>
        $(document).on('ready', function () {
            var sidebar = $('.js-navbar-vertical-aside').hsSideNav();
            $('.js-hs-unfold-invoker').each(function () {
                var unfold = new HSUnfold($(this)).init();
            });
            $('.js-form-search').each(function () {
                new HSFormSearch($(this)).init()
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
