﻿<div class="navbar-expand-lg">
    <button type="button" class="navbar-toggler btn btn-block btn-white mb-3" aria-label="Toggle navigation"
            aria-expanded="false" aria-controls="navbarVerticalNavMenu" data-toggle="collapse"
            data-target="#navbarVerticalNavMenu">
        <span class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0">Nav menu</span>

            <span class="navbar-toggle-default">
                <i class="tio-menu-hamburger"></i>
            </span>

            <span class="navbar-toggle-toggled">
                <i class="tio-clear"></i>
            </span>
        </span>
    </button>
    <aside id="navbarVerticalNavMenu"
           class="js-navbar-vertical-aside navbar navbar-vertical navbar-vertical-absolute navbar-vertical-detached navbar-shadow navbar-collapse collapse rounded-lg">
        <div class="navbar-vertical-container">
            <div class="navbar-vertical-footer-offset">
                <div class="navbar-vertical-content">
                    <ul class="navbar-nav navbar-nav-lg card-navbar-nav">
                        <li class="navbar-vertical-aside-has-menu ">
                            <a class=" nav-link "
                               href="/" >
                                <i class="tio-home-vs-1-outlined nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Home</span>
                            </a>
                        </li>
                        <li class="navbar-vertical-aside-has-menu ">
                            <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle "
                               href="javascript:;" title="Apps">
                                <i class="tio-apps nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">
                                    Apps
                                    <span class="badge badge-info badge-pill ml-1">Hot</span>
                                </span>
                            </a>
                            <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                                <li class="nav-item">
                                    <a class="nav-link " href="question" title="Kanban">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Question</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="..\apps-calendar.html" title="Calendar">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">
                                            Calendar <span class="badge badge-info badge-pill ml-1">New</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</div>