﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Sign In | Health Talk</title>
    <link rel="shortcut icon"  href="..\assets\svg\logos\logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets\css\vendor.min.css">
    <link rel="stylesheet" href="assets\vendor\icon-set\style.css">
    <link rel="stylesheet" href="assets\css\theme.min.css?v=1.0">
</head>

<body class="d-flex align-items-center min-h-100">
    <main id="content" role="main" class="main pt-0">
        <div class="container-fluid px-3">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
                    <div class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
                        <div class="d-none d-lg-flex justify-content-between">
                            <a href="index.html" style="color:#978e8e;">
                                <img style="width:50px; border-radius:100px;" src="..\assets\svg\logos\logo.png" alt="Logo">
                                Health <span style="font-weight: 900; color: black;">Talk</span>
                            </a>

                       
                        </div>
                    </div>
                    <div style="max-width: 23rem;">
                        <div class="text-center mb-5">
                            <img class="img-fluid" src="assets\svg\illustrations\chat.svg" alt="Image Description" style="width: 12rem;">
                        </div>

                        <div class="mb-5">
                            <h2 class="display-4">Build digital products with:</h2>
                        </div>
                        <ul class="list-checked list-checked-lg list-checked-primary list-unstyled-py-4">
                            <li class="list-checked-item">
                                <span class="d-block font-weight-bold mb-1">All-in-one tool</span>
                                Build, run, and scale your apps - end to end
                            </li>

                            <li class="list-checked-item">
                                <span class="d-block font-weight-bold mb-1">Easily add &amp; manage your services</span>
                                It brings together your tasks, projects, timelines, files and more
                            </li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
                    <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
                        <form class="js-validate">
                            <div class="text-center mb-5">
                                <h1 class="display-4">Sign in</h1>
                                <p>Don't have an account yet? <a href="authentication-signup-cover.html">Sign up here</a></p>
                            </div>
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupSrEmail">Your email</label>

                                <input type="email" class="form-control form-control-lg" name="email" id="signupSrEmail" placeholder="Markwilliams@example.com" aria-label="Markwilliams@example.com" required="" data-msg="Please enter a valid email address.">
                            </div>
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupSrPassword" tabindex="0">
                                    <span class="d-flex justify-content-between align-items-center">
                                        Password
                                        <a class="input-label-secondary" href="authentication-reset-password-cover.html">Forgot Password?</a>
                                    </span>
                                </label>

                                <div class="input-group input-group-merge">
                                    <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSrPassword" placeholder="8+ characters required" aria-label="8+ characters required" required="" data-msg="Your password is invalid. Please try again." data-hs-toggle-password-options='{
                             "target": "#changePassTarget",
                             "defaultClass": "tio-hidden-outlined",
                             "showClass": "tio-visible-outlined",
                             "classChangeTarget": "#changePassIcon"
                           }'>
                                    <div id="changePassTarget" class="input-group-append">
                                        <a class="input-group-text" href="javascript:;">
                                            <i id="changePassIcon" class="tio-visible-outlined"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox">
                                    <label class="custom-control-label text-muted" for="termsCheckbox"> Remember me</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-primary">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="assets\js\vendor.min.js"></script>
    <script src="assets\js\theme.min.js"></script>

    <script>
        $(document).on('ready', function () {
            $('.js-toggle-password').each(function () {
                new HSTogglePassword(this).init()
            });
            $('.js-validate').each(function () {
                $.HSCore.components.HSValidation.init($(this));
            });
            $('.js-select2-custom').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });
        });
    </script>

    <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
</body>
</html>
